
<script id="bootstrap-current-user" type="text/javascript">
  <% if logged_in? %>
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  <% end %>
</script>

<script>
  window.logo = "<%= asset_path("logo.jpg") %>"
  window.user_icon = "<%= asset_path("user_icon.png") %>"
  window.homepage = "<%= asset_path("homepage.jpg") %>"
</script>


<main id="root"></main>
