.nav-Bar-MainLoggedOut {
  width: 100%;
  background: transparent;
  height: 46px;
  left: 0px;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  font:100 14px/1.5 "Interstate","Lucida Grande",Arial,sans-serif;
  position: absolute;
  align-content: top;
}

.nav-Bar-MainLoggedIn {
  width: 100%;
  background: #333;
  height: 46px;
  left: 0px;
  top: 0px;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font:100 14px/1.5 "Interstate","Lucida Grande",Arial,sans-serif;
  position: fixed;
}

.nav-Bar-ListLoggedOut {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav-Bar-ListLoggedIn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  text-align: center;
}

.nav-Bar-Button {
  color: #ccc;
  padding: 0px 8px 0px 8px;
}

.nav-Bar-Button li {
  align-items: center;
}

.nav-Bar-Button-Home {
  color: #fff;
  background-color: #111;
  height: 46px;
  text-align: center;
  align-items: center;
  width: 100px;
}

.nav-Bar-Button:hover {
  color: white;
  padding: 0px 8px 0px 8px;
  cursor: pointer;
  text-align: center;
}

.search-Bar {
  background-color: #e5e5e5;
  width: 600px;
  border-radius: 5px;
  color: #666;
  height: 12px;
  font-size: 14px;
  padding: 5px 9px;
  z-index: 1px;
}

.logoLoggedOut {
  height: 55px;
  width: auto;
  margin-left: 20px;
  margin-top: 40px;
}

.logoLoggedIn {
  height: 46px;
  width: 50px;;
}

.userIcon {
  height: 30px;
  width: auto;
  margin-right: 10px;
}

.userNav {
  display: flex;
  align-items: center;
}

.WhiteSignIn{
  background: 0 0;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0px 18px;
  height: 30px;
  margin-top: 40px;
  margin-right: 10px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: lighter;
  letter-spacing: 1.2px;
}

.WhiteSignIn:hover{
  border: 1px solid white;
}

.OrangeSignIn{
  background: #f50;
  color: white;
  border: 1px solid #f50;
  border-radius: 3px;
  padding: 0px 18px;
  height: 30px;
  margin-right: 40px;
  font-family: "PT Sans Narrow", sans-serif;
  letter-spacing: 1.2px;
}

.LogoContainer{
  display: flex;
  align-items: center;
}

.SoundTown {
  margin-top: 40px;
  color: white;
  font-family: "PT Sans Narrow", sans-serif;
  letter-spacing: 2.5px;
  font-size: 20px;
}

.nav-Bar-ListLoggedIn ul {
  display: flex;
}
