
.login-form{
  background: white;
  position: relative;
  width: 500px;
  height: 500px;
  padding: 16px;
  margin: 50px;
  display: block;
  text-align: center;
}

.usernameInput {
  background: 0 0;
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 90%;
  color: #666;
  height: 12px;
  font-size: 14px;
  padding: 11px;
  align-items: center;
  margin-top: 40px;
  justify-content: center;
  text-align: left;
  font:100 14px/1.5 "Interstate","Lucida Grande",Arial,sans-serif;
}

.usernameInputErrors {
  background: 0 0;
  color: #666;
  border: 1px solid red;
  border-radius: 3px;
  width: 90%;
  color: #666;
  height: 12px;
  font-size: 14px;
  padding: 11px;
  align-items: center;
  margin-top: 40px;
  justify-content: center;
  text-align: left;
  font:100 14px/1.5 "Interstate","Lucida Grande",Arial,sans-serif;
}

.passwordInput {
  background: 0 0;
  width: 90%;
  border-radius: 3px;
  border: 1px solid #ccc;
  color: #666;
  height: 12px;
  font-size: 14px;
  padding: 11px;
  align-items: center;
  margin-top: 50px;
  justify-content: center;
  text-align: left;
  font:100 14px/1.5 "Interstate","Lucida Grande",Arial,sans-serif;
}

.passwordInputErrors {
  background: 0 0;
  width: 90%;
  border-radius: 3px;
  border: 1px solid red;
  color: #666;
  height: 12px;
  font-size: 14px;
  padding: 11px;
  align-items: center;
  margin-top: 50px;
  justify-content: center;
  text-align: left;
  font:100 14px/1.5 "Interstate","Lucida Grande",Arial,sans-serif;
}

.session-submit {
  background-color: #f50;
    color: white;
    padding: 14px 20px;
    margin-top: 29px;
    margin-bottom: 5px;
    cursor: pointer;
    width: 90%;
    opacity: 0.9;
    border-radius: 3px;
    font:100 14px/1.5 "Interstate","Lucida Grande",Arial,sans-serif;
}

.demoLogin {
  background-color: #3B5998;
    color: white;
    padding: 14px 0px;
    margin-top: 0px;
    cursor: pointer;
    width: 90%;
    opacity: 0.9;
    border-radius: 3px;
    font:100 14px/1.5 "Interstate","Lucida Grande",Arial,sans-serif;
}

.Errors{
  color: red;
  text-align: center;
  font:100 14px/1.5 "Interstate","Lucida Grande",Arial,sans-serif;
  height: 20px;
}

.TitleWrapper {

  text-align: right;
}

.SessionGreeting{
  color: black;
  text-align: center;
  font:36px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida";
  color: #999;
  margin-left: 100px;
}

.close-x:hover {
  color: red;
}

.login-form h3 {
  color: #999;
  margin-top: 5px;
  font:12px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;

}

input:focus {
  outline: 0;
}
