.mainPageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.mainPageContent {
  width: 87%;
  background: white;
  text-align: center;
  color: black;
  align-items: center;
  justify-content: center;
  display: block;
}

.IntroGreeting {
  // top: 13%;
  height: 500px;
  width: 87%;
  position: relative;
  text-align: center;
  color: white;
  font-family: "PT Sans Narrow", sans-serif;
  background-image: image-url('homepage.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top: 4px solid #f50;
  display: block;
}



.IntroGreeting h3 {
  font-size: 36px;
  font-weight: 100;
  color: white;
  margin-bottom: 15px;
  margin-top: 200px;
  font-family: 'Nanum Gothic', sans-serif;
}

.IntroGreeting p {
  font-size: 16px;
  font-family: 'Nanum Gothic', sans-serif;
  padding: 20px, 500px;
  font-weight: 0;
  line-height: 2;
}

.mainBackground {
  border-top: 4px solid #f50;
}

.SearchUpload{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  align-items: center;
}

.SearchBar {
  width: 600px;
  margin-right: 20px;
  background: #f2f2f2;
  padding: 0 16px;
  height: 46px;
  color: #666;
  border: 0;
  border-radius: 3px;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
}

.SearchBarButton {
  background: 0 0;
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0px 30px;
  height: 46px;
  margin-right: 10px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: lighter;
}

.SearchBarButton:hover {
  border: 1px solid grey;
}

.login-form input:focus {
  outline: 0;
}

.Or {
  margin-right: 20px;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: bold;
  color: #666;
}

.DemoTour {
  background: #f50;
  color: white;
  border: 1px solid #f50;
  border-radius: 3px;
  padding: 5px 30px;
  height: 30px;
  margin-top: 20px;
  font-family: "PT Sans Narrow", sans-serif;
  letter-spacing: 1.5px;
}

.audioTest {
  z-index: 90000000000000000000000000;
  background-color: red;
}

.MainPageContentLeft {
display: flex;
justify-content: top;
flex-direction: column;
width: 100%;
background: white;
border-right: 1px solid #f2f2f2;
height: 100%;
}

.Welcome {
  display: flex;
  flex-direction: column;
  align-items: left;
  border-bottom: 1px solid #f2f2f2;
  width: 90%;
}

.WelcomeStatement{
  font-size: 28px;
  margin: 0 0 5px;
  line-height: 1;
  font-family: "PT Sans Narrow", sans-serif;
  
  font-style: bold;
}

.Welcome p {
  font-size: 20px;
  margin: 0 0 5px;
  line-height: 1;
  font-family: "PT Sans Narrow", sans-serif;
  margin-bottom: 20px;
  color: grey;
}
