.SongUploadForm {
  margin-top: 50px;
  background:transparent;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.UploadContainer {
  height: 100%;
  width: 87%;
  position: relative;
  text-align: center;
  color: white;
  font-family: "PT Sans Narrow", sans-serif;

  border-top: 4px solid #f50;
  display: block;
  align-items: center;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}
.uploadContentMain {
  background-image: image-url('upload.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 80%;
  text-align: center;
  color: black;
  align-items: center;
  justify-content: center;
  display: block;
  height: 860px;
}

.Form {
  background: white;
position: relative;
width: 700px;
height: 500px;
padding: 16px;
margin: 50px;
display: block;
text-align: center;
}

.Title {
  color: #f50;
  margin-bottom: 20px;
}

.ChooseFile {
  background: black;
  color: white;
  border: 1px solid black;
  border-radius: 3px;
  padding: 2px 12px;
  font-family: "PT Sans Narrow", sans-serif;
  letter-spacing: 1.2px;
  cursor: pointer;
  align-items: center;
  text-align: center;
  margin-right: 20px;
  width: 121px;
}

.File {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.ArtistInput {
  background: 0 0;
  width: 90%;
  border-radius: 3px;
  border: 1px solid #ccc;
  color: #666;
  height: 12px;
  font-size: 14px;
  padding: 11px;
  align-items: center;
  margin-top: 50px;
  justify-content: center;
  text-align: left;
  font:100 14px/1.5 "Interstate","Lucida Grande",Arial,sans-serif;
  margin-bottom: 40px;
}

.UploadNavBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 87%;
    text-align: center;
}

.UploadContainer {
  display: block;
  width: 100%;
}

.SubNavBar-List {
  display: flex;
    align-items: bottom;
    justify-content: left;
    width: 100%;
    text-align: center;
    background: white;
    height: 56px;
    margin-top: 35px;
    color: black;
}

.UploadButtons {
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
  color: #333;
  border-bottom: 1px solid transparent;
  display: block;
  z-index: 99999999;
}

.UploadButtons:hover {
  color: #f50;
}

.UploadText {
  color:black;
  padding: 36px 0 0;
  font-size: 24px;
  line-height: 1;
  font-family: "PT Sans Narrow", sans-serif;
}
.UploadFiles{
  display: flex;
  justify-content: center;
}
