.FooterContainer {
    height: 48px;
    background-color: #f2f2f2;
    border-top: 1px solid #cecece;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: center;
}

.PlayBar {
  display: flex;
  align-items: center;
}

.playButton {
  width: 20px;
  height: 20px;
  background-image: image-url('playtest.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.pauseButton {
  width: 20px;
  height: 20px;
  background-image: image-url('pausetest.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.volume {
  width: 24px;
  height: 15px;
  background-image: image-url('volume.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 5px;
}

.backButton {
  width: 20px;
  height: 20px;
  background-image: image-url('prev.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.forwardButton {
  width: 20px;
  height: 20px;
  background-image: image-url('next.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.songbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Duration {
  color: #f50;
  font-size: 11px;
  margin-right: 5px;
  margin-left: 5px;
  font-family: "Interstate","Lucida Grande",Arial,sans-serif;
  -webkit-appearance: none;
background: #f2f2f2;
border: none;
align-content: center;
text-align: center;
width: 37px;
}

.EndDuration {
  color: black;
  font-size: 11px;
  margin-right: 5px;
  margin-left: 5px;
  font-family: "Interstate","Lucida Grande",Arial,sans-serif;
  -webkit-appearance: none;
background: #f2f2f2;
border: none;
align-content: center;
text-align: center;
width: 37px;
}

input[type=range] {
    -webkit-appearance: none;
    width: 645px;

}
input[type=range]::-webkit-slider-runnable-track {
    width: 600px;
    height: 2px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #f50;

    margin-top: -4px;
    margin-right: -40px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}

input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;
    background: transparent;
    border-color: transparent;
    border-width: 6px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}

.slider-track {
  color: black;
}

.vol input[type=range] {
    -webkit-appearance: none;
    width: 80px;
}
.vol input[type=range]::-webkit-slider-runnable-track {
    width: 600px;
    height: 2px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
.vol input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #f50;
    margin-top: -4px;
}
.vol input[type=range]:focus {
    outline: none;
}
.vol input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

.vol input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
.vol input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}

.vol input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

.vol input[type=range]::-ms-track {
    width: 300px;
    height: 5px;
    background: transparent;
    border-color: transparent;
    border-width: 6px 0;
    color: transparent;
}
.vol input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
.vol input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
.vol input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}
.vol input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
.vol input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}

.songPicContainer {
  display: flex;
}

.songPic {
  width: 35px;
  height: 35px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 66px;
  margin-right: 10px;
}

.TitleandAuthor {
  display: flex;
  flex-direction: column;
}

.songTitle {
font-family: "Interstate","Lucida Grande",Arial,sans-serif;
color: grey;
font-size: 14px;
}

.songAuthor {
  font-family: "Interstate","Lucida Grande",Arial,sans-serif;
  color: black;
  font-size: 12px;
}
