.UserContainer {
  background:white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 80%;
  text-align: center;
  color: black;
  align-items: top;
  justify-content: center;
  display: block;
  height: 100%;
}

.UserBanner{
  background: transparent;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bannerpicture {
  width: 100%;
  height: 100%;
}

.Name {
  margin-left: 40px;
  background: black;
  color: white;
  padding: 5px 12px;
  font:100 28px/1.5 "Interstate","Lucida Grande",Arial,sans-serif;
  border-radius: 5px;
}

.UserSongs {
  display: flex;
    flex-direction: column;
width: 60%;
}

.UserSongs ul {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

.UploadedSong {
  background: white;
  width: 100%
}

.UploadedSongInfo {
  background: white;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 30px;
}

.UserComments {
  width: 40%;
  align-items: left;
  height: 900px;
  border-left: 1px solid #f2f2f2;
  font-weight: 100;
  color: #999;
  font-family: "Interstate","Lucida Grande",Arial,sans-serif;
  font-size: 12px;
}

.UserProfileContent {
  display: flex;
  height: 100%;
  justify-content: center;
  margin-bottom: 100px;
}

.UserContainer h1 {
  margin-top: 40px;
}

.Header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px 30px;
  font-size: 24px;
  line-height: 1.6;
  font-family: "Interstate","Lucida Grande",Arial,sans-serif;
  cursor: pointer;
  color: #333;
}

.Header h1 {
  width: 100%;
  border-bottom: 1px solid #f2f2f2;
}

.SongList{
  display: flex;
  justify-content: center;
  align-items: center;
}

.XOut {
  font-style: bold;
  color: #999;
  font-size: 12px;
  font-family: 'Poiret One', cursive;
  font-family: 'Quattrocento Sans', sans-serif;
  margin-left: -88%;
}

.XOut:hover {
  color: red;
}

.uploads {
  font-weight: 100;
  color: #999;
  font-family: "Interstate","Lucida Grande",Arial,sans-serif;
  font-size: 12px;
}

.Header {
  width: 90%;
  margin-bottom: 20px;
}

.UploadBanner {
  background-color: rgba(255,255,255,1);
  border-color: rgba(0,0,0,.3);
  padding:  5px 10px;
  border-radius: 5px;
  font-family: "Interstate","Lucida Grande",Arial,sans-serif;
  font-size: 12px;
  font-style: bold;
  font-weight: 800;
  margin-right: 40px;
}
