.UserContainer {
  background:grey;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 75%;
  text-align: center;
  color: black;
  align-items: center;
  justify-content: center;
  display: block;
  height: 860px;
}

.username {
  margin-top: 400px;
}
